@media (max-width:480px) {
    .figure{
        width: 400px;
        border-radius: 10px;
        
    }
    .posterfig{
        width: 220px;
        padding: 15px 
    
}
}
@media (max-width:390px) {
    .figure{
        width: 300px;
        border-radius: 10px;
        
    }
    .posterfig{
        width: 220px;
        padding: 15px 
    
}
.img-logo{
    width: 90px;
}
p{
    font-size: 18px;
}
}